body{
    background-color: black;
}
.hangman{
    margin-top:3px;
    border-radius:50px;
    background-color: rgb(133, 133, 138);
     border:2px solid gold;
}
.hangman-container{
    text-align: center; 
    background: url('./hangman.gif') ;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: white;
    border:2px solid gold;
    border-radius:20px;
}
.answer-container{
    text-align: center;
}
.answer-prefix{
    font-size: 120px;
color:red;
border-top: 2px solid red;
box-shadow: -2px 2px 0px 0px red;
background-color: white;
border-top-left-radius: 50px;
border-bottom-left-radius: 50px;
padding-left: 12px;
padding-top: 4px;
padding-bottom: 4px;
}
.answer{
color:white;
font-size: 120px;
border-top: 2px solid yellow;
box-shadow: 2px 2px 0px 0px yellow;
background-color: red;
border-top-right-radius: 50px;
border-bottom-right-radius: 50px;
padding-right: 12px;
padding-top: 4px;
padding-bottom: 4px;
}
.word-to-guess{
    font-size: 120px;
     color: rgb(0, 0, 0);
}
.word-to-guess-container{
    width:100%;
    text-align: center;
}
.ui-container{
    margin-top:5px;
    background-color: grey;
    border:2px solid gold;
    border-radius:20px;
}
.buttons-container,
.new-game-button-container{
    text-align: center;
}
.new-game-button-container button{
    margin: 10px 1px;
    width:99%;
    height:100%;
    font-size: 80px;
    border-radius:20px;
    font-style: italic;
    background-color: brown;
}
.buttons-container button{
    width:100px;
    height:100px;
    font-size: 80px;
    border-radius:50%;
    margin: 3px 3px;
    background-color: brown;
}
p{
    display:none;
    margin:0px;
}